@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}


.basket-container {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.basket-items {
    flex: 2;
    margin-top: 80px;
    border: 1px solid black;
    border-radius: 10px;
}

.basket-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.basket-item img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.basket-info {
    flex: 1;
}

.basket-info h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

.basket-info .price {
    font-weight: bold;
    margin-bottom: 10px;
}

.basket-info .qty {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.basket-info .qty button {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.basket-info .qty span {
    min-width: 20px;
    text-align: center;
}

.basket-info .remove {
    background: none;
    border: none;
    color: #3333CC;
    cursor: pointer;
    font-size: 13px;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    background: #EAEAF9;

}

.basket-summary {
    flex: 1;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    height: 265px;
    width: 418px;
    margin-top: 80px;
}

.basket-summary.hidden {
    display: none;
}


.basket-summary h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 0;
}

.basket-summary .total {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 30px 0;
}

.basket-summary button {
    width: 358px;
    height: 32px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 30px 0;

}


.empty-basket-text {
    text-align: center;
    margin: 100px auto;
}

.empty-basket-text h2 {
    font-family: Gilroy;
    font-weight: 600;
    font-style: Semibold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
    color: #000000;
}

.empty-basket-text p {
    font-family: Gilroy;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.go-home-btn {
    color: blue;
    text-decoration: none;
}

.items-count {
    font-family: Gilroy;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0 30px 0;
    color: #000000;
    padding-bottom: 10px;
}