@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

#modalcarddouble {
    width: 1200px;
    margin: 0 auto;
}

.padding_ingone img {
    width: 30rem;
    height: 35rem;
}

.displaycard {
    display: flex;
    gap: 50px;
}

.title_comment{
    padding-top: 80px;
}

.title_oneul {
    font-size: 32px;
    padding-bottom: 30px;
}

.price_oneul {
    font-size: 32px;
}

.price_oneul span {
    font-size: 16px;
    color: gray;
    padding-left: 15px;

}

.p_description {
    padding: 10px;
    margin-top: 10px;
}

.luse_minuse { 
    width: 90px;
    border: 1px solid gray;
    padding: 3px 0 3px;
    text-align: center;
}

.luse_minuse b {
    padding: 0 20px 0;
}

.colors_oneul {
    width: 70px;
    height: 25px;
    margin-top: 15px;
    border: none;
    background-color: white;
    margin-bottom: 20px;
}

.description_one {
    width: 950px;
    margin-left: 100px;
}

.opisaniye_oneul {
    margin-top: 20px;
    font-size: 24px;
    padding-bottom: 10px;
}

.opoci_button1 button {
    width: 180px;
    height: 40px;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
}

