@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Gilroy;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.notone img {
    margin-top: 5px;
}

.menu {
    display: flex;
    gap: 5px;
}

.menu .img2 {
    width: 10px;
    height: 10px;
}

.menu .img1 {
    width: 10px;
    height: 10px;
}

.h1t p {
    font-size: 14px;
    z-index: 2;
}

.dfd p {
    font-size: 14px;
    padding-left: 10px;
}

.nav100 {
    display: flex;
    gap: 5px;

}

.nav100 a {
    color: black;
}

.nav100 img {
    border-radius: 50%;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav199 {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.bt {
    color: black;
}

.section1 {
    background-color: rgb(237, 227, 227);
    margin-bottom: 25px;
}

.rut {
    width: 80px;
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: #EAEAF9;
    padding-top: 8px;
    text-align: center;
}

.rut h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #3333CC;
}

.uzumlogo {
    display: flex;
    gap: 20px;
}

.form11 input {
    flex: 1;
    padding: 12px;
    outline: none;
    border-right: none;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
}

.form11 {
    max-width: 500px;
    flex: 1;
    display: flex;
    margin: 0 10px;
    min-width: 500px;

    
    /* text-align: center; */
}

.search_imgww {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    cursor: pointer;
    background-color: rgb(186, 177, 177);
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
    width: 15%;
 
}

.search_img_one {
    width: 20px;
    height: 20px;
}

.acco {
    display: flex;
    gap: 21px;
    padding-top: 5px;
}

.accout {
    display: flex;
    gap: 5px;
}

.acco p {
    font-size: 18px;
}

.osnova {
    display: flex;
    justify-content: space-between;
}

.section20 {
    margin-bottom: 20px;
}

.arr {
    padding-top: 3px;
}

.imgitext {
    display: flex;
    gap: 5px;
}

.textitwo a {
    font-size: 24px;
    color: black;
}

.hedeli {
    display: flex;
    gap: 17px;
    padding-top: 7px;
}

.hedeli a {
    color: darkgray;
    font-size: 13px;
    margin-top: 2px;
}

.elektronika1 {
    display: flex;
    gap: 5px;
    color: darkgray;
    padding-top: 7px;
}

.my a {
    color: darkgray;
}

.osnivatwo {
    display: flex;
    gap: 45px;
    width: 1200px;
}

/* ============== Catalog Modal  ================== */

.catalog-modal {
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 5;
}

.catalog-modal._active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    top: 15vh;

    width: 100%;
    height: 85vh;

    background-color: rgba(0, 0, 0, 0.3);

    transition: all .3s;
}

.catalog-moda__content {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    padding-left: 425px;
    background-color: white;
    
}

.catalog-moda__content h3 {
    padding-bottom: 10px;
}

/* =============================================== */

.section30 {
    margin-bottom: 10px;
}

.footer1 {
    display: flex;
    gap: 196px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.onastwo {
    color: black;
    margin-bottom: 25px;
}

.onastwo a {
    font-size: 15px;
    color: black;
}

.onasthree {
    padding-bottom: 25px;
    color: darkgray;
    font-size: 13px;
}

.app {
    display: flex;
    gap: 3px;
}

.appone {
    display: flex;
    gap: 20px;
}

.imgappone {
    padding-top: 7px;
}

.textnine {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.textapp a {
    font-size: 15px;
    color: black;
}

.textapp {
    padding-top: 10px;
}

.appi {
    display: flex;
    gap: 8px;
}

.imggl {
    display: flex;
    gap: 25px;
}

.imginst {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.uzumcowq {
    font-size: 16px;
    padding-bottom: 25px;
}

.onas54 {
    margin-top: 15px;
}

.aboutnpw1 {
    display: flex;
    gap: 10px;
}