@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

.empty-favorites {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 100px;
}

.empty-favorites h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

.empty-favorites p {
    font-size: 14px;
}

.empty-favorites a {
    font-size: 14px;
}
