* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

body._lock {
  overflow: hidden;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  flex-direction: column;
  height: 373px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: black;

}

.desc {
  font-size: 16px;
  color: #555;
  height: 60px;
  overflow: hidden;
}

.price {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.rating {
  color: #ffaa00;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}


.price_gray {
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

head {
  border-radius: 10px;
}

.rating {
  font-size: 10px;
  color: black;
  margin: 0 auto;
  margin-top: 10px;
}

.rating img {
  width: 1rem;
  height: 1rem;
  /* padding-top: 2px; */
}

.btn123 {
  width: 180px;
  height: 32px;
  border-radius: 6px;
  background-color: rgb(39, 14, 230);
  color: white;
  border: none;
  cursor: pointer;
}


.month {
  background: rgb(255, 255, 0);
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 500;
  width: fit-content;
}

.main_linkes_brother {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
  margin-top: 10px;
  position: absolute;
  top: 240px;
}

.health {
  position: absolute;
  margin-left: 150px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.disabled-fav {
  opacity: 0.4;
  cursor: not-allowed;
}

.disabled-fav:hover {
  transform: none;
}